<section class="hero-banner" id="home">
    <div class="mask"></div>
    <div class="hero-text">
        <h2 class="title">Welcome, Traveler!</h2>
        <p>Welcome to Dungeon Companion, your one stop location for Dungeons and Dragons' merchandise. Looking for that
            one monster poster to complete your Dungeon? You've come to the right place!</p>
        <p>Feel free to browse or, if you wish to test your luck, try a random poster!</p>
    </div>
</section>
<section class="products-section" id="browse">
    <div class="filter-row">
        <div class="input">
            <input type="text" placeholder="Search by name" [(ngModel)]="search_word" (keyup)="filterProducts()">
            <i class="fa fa-search"></i>
        </div>
        <div class="class-filters">
            <p [class.selected-filter]="class_filter_list.includes(type)" (click)="toggleClassFilter(type)"
                *ngFor="let type of class_list">
                {{type}}</p>
            <p [class.selected-filter]="class_filter_list.includes('other')" (click)="toggleClassFilter('other')">Other
            </p>
        </div>
        <div class="right-filters">
            <select name="" id="" [(ngModel)]="selected_sort" (change)="filterProducts()">
                <option value="" disabled>Sort by</option>
                <option value="alfa asc">Alfabetical Ascending</option>
                <option value="alfa desc">Alfabetical Descending</option>
                <option value="price asc">By Price Ascending</option>
                <option value="price desc">By Price Descending</option>
            </select>
            <button class="random-btn" (click)="addRandomItemToCart()">Random Poster</button>
        </div>
    </div>
    <div class="poster-list">
        <div class="poster" *ngFor="let product of page_products" (click)="addItemToCart(product)">
            <img src="assets/images/favicon.png" alt="">
            <p class="poster-name">{{product.name}}</p>
            <p class="poster-price">{{product.price | currency}}</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="pagination">
        <div class="arrow arrow-left" (click)="movePage(-1)">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="page" (click)="selectPage(1)" *ngIf="selected_page - 2 > 1">
            1
        </div>
        <span class="pagination-dots" *ngIf="selected_page - 2 > 1">•••</span>
        <div class="page" [class.selected-page]="selected_page == page" (click)="selectPage(page)"
            *ngFor="let page of pages">
            {{ page }}
        </div>
        <span class="pagination-dots" *ngIf="selected_page + 2 < last_page">•••</span>
        <div class="page" (click)="selectPage(last_page)" *ngIf="selected_page + 2 < last_page">
            {{ last_page }}
        </div>
        <div class="arrow arrow-right" (click)="movePage(1)">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</section>

<div class="modal-container" [class.show-modal]="showModal">
    <div class="modal-background" (click)="hideModal()"></div>
    <div class="modal">
        <p>{{modal_message}}</p>
    </div>
</div>